
<p>ád {{ getForm(1) }}</p>
<!-- <div *ngFor="let i of all; let index = index">
  <label class="radio-inline"><input type="radio" (click)="onClick(index);" name="optradio">{{ i.name }}</label>
</div>
<ng-container [ngSwitch]="variable">
  <ng-container *ngSwitchCase="0">
    <form (ngSubmit)="onSubmit(all[variable].form)" [formGroup]="all[variable].form">
      <div class="form-group">
        <label for="sel1">Select list (select one):</label>
        <select class="form-control" id="sel1" formControlName="option">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" formControlName="email" id="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" formControlName="pwd" id="pwd">
      </div>
      <div class="checkbox" formGroupName="sub">
        <div formGroupName="remember">
          <label><input type="checkbox" name="re" formControlName="re" [(ngModel)]="all[variable].form.value.sub.remember.re"> Remember me</label>
          <ul *ngIf="all[variable].form.value.sub.remember.re">
            <li>
              <input type="text" formControlName="read">
            </li>
          </ul>
        </div>
        <div formGroupName="noremember">
          <label><input type="checkbox" name="nre" formControlName="nre" [(ngModel)]="all[variable].form.value.sub.noremember.nre"> No Remember me</label>
          <ul *ngIf="all[variable].form.value.sub.noremember.nre">
            <li><input type="text" formControlName="noread"></li>
          </ul>
        </div>
      </div>
      <button class="btn btn-default" [disabled]="all[variable].form.invalid">Submit</button>
    </form>
  </ng-container>
  <ng-container *ngSwitchCase="1">
    <form (ngSubmit)="onSubmit(all[variable].form)" [formGroup]="all[variable].form">
      <div class="form-group">
        <label for="sel1">Select list (select one):</label>
        <select class="form-control" id="sel1" formControlName="option1">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" formControlName="email1" id="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" formControlName="pwd1" id="pwd">
      </div>
      <button class="btn btn-default" [disabled]="all[variable].form.invalid">Submit</button>
    </form>
  </ng-container>
</ng-container> -->
