<app-navigation></app-navigation>
<app-slider></app-slider>
<br>
<div class="container-fluid">
  <div class="row">
    <div *ngFor="let i of objectProducts" class="col-sm-3">
      <div class="card">
        <a class="thumnail" routerLink="/san-pham/chi-tiet/{{i._id}}">
          <img class="card-img-top" src="{{ url+i.Url_clound+i.Img_Product }}" alt="{{ i.Product_Name }}">
          <div class="card-body">
            <p class="card-text">{{ i.Product_Name }}</p>
            <p class="card-text">{{ i.Description }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <br>
  <!-- fix table -->
  <div class="container">
    <div class="multiple">

      <div *ngIf="!enableSticky" class="table-1">
        <div class="header-table">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Age</th>
                  <th>City</th>
                  <th>Country</th>
                  <th>Age</th>
                  <th>City</th>
                  <th>Country</th>
                  <th>VN</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let i of objectProducts; let isFirst = first">
                    <tr *ngIf="isFirst" [style.visibility]="isFirst ? 'hidden' : 'unset'">
                      <td>{{i._id}}</td>
                      <td>{{ i.Product_Name | slice:0:4 }}</td>
                      <td>{{ i.Description | slice:0:3 }}</td>
                      <td>{{ i.Product_Name | slice:0:4 }}</td>
                      <td>{{ i.Product_Name | slice:0:4 }}</td>
                      <td>{{ i.Img_Product | slice:0:4 }}</td>
                      <td>{{ i.Product_Name | slice:0:4 }}</td>
                      <td>{{ i.Product_Name | slice:0:4 }}</td>
                      <td>{{ i.Img_Product | slice:0:4 }}</td>
                    </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
      </div>
      <div class="body-table">
          <div class="table-responsive" style="max-height: 317px;">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Age</th>
                  <th>City</th>
                  <th>Country</th>
                  <th>Age</th>
                  <th>City</th>
                  <th>Country</th>
                  <th>VN</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of objectProducts">
                  <td>{{i._id}}</td>
                  <td>{{ i.Product_Name | slice:0:4 }}</td>
                  <td>{{ i.Description | slice:0:3 }}</td>
                  <td>{{ i.Product_Name | slice:0:4 }}</td>
                  <td>{{ i.Product_Name | slice:0:4 }}</td>
                  <td>{{ i.Img_Product | slice:0:4 }}</td>
                  <td>{{ i.Product_Name | slice:0:4 }}</td>
                  <td>{{ i.Product_Name | slice:0:4 }}</td>
                  <td>{{ i.Img_Product | slice:0:4 }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div id="DataTableId" *ngIf="enableSticky" class="table-2 table-responsive" style="max-height: 300px;">
        <table class="table table-bordered">
          <thead>
            <tr class="tr-table">
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Age</th>
              <th>City</th>
              <th>Country</th>
              <th>Age</th>
              <th>City</th>
              <th>Country</th>
              <th>VN</th>
            </tr>
          </thead>
          <tbody>
              <tr class="tr-table" *ngFor="let i of this.objectProducts">
                <td>{{i._id}}</td>
                <td>{{ i.Product_Name | slice:0:4 }}</td>
                <td>{{ i.Description | slice:0:3 }}</td>
                <td>{{ i.Product_Name | slice:0:4 }}</td>
                <td>{{ i.Product_Name | slice:0:4 }}</td>
                <td>{{ i.Img_Product | slice:0:4 }}</td>
                <td>{{ i.Product_Name | slice:0:4 }}</td>
                <td>{{ i.Product_Name | slice:0:4 }}</td>
                <td>{{ i.Img_Product | slice:0:4 }}</td>
              </tr>
            
              <tr class="tr-table" *ngFor="let i of mang1000">
                <td>{{i}}</td>
                <td>{{ i }}</td>
                <td>{{ i }}</td>
                <td>{{ i }}</td>
                <td>{{ i }}</td>
                <td>{{ i }}</td>
                <td>{{ i }}</td>
                <td>{{ i }}</td>
                <td>{{ i }}</td>
              </tr>

          </tbody>
        </table>
      </div>

      <iframe id="txtArea1" style="display:none"></iframe>

      <button id="btnExport" class="btn btn-success" (click)="fnExcelReport()"> EXPORT </button>


    </div>
  </div>

</div>
<br>
